{{ define "main" }}
<article class="py-12">
  <div class="container mx-auto px-6">
    <header class="mb-8 text-center">
      <h1 class="text-4xl md:text-5xl font-bold text-nb-light-text">{{ .Title }}</h1>
      <p class="text-nb-light-text mt-2">
        Published on <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.project }}
          | Related Project: <a href="{{ printf "/projects/%s/" . | relURL }}" class="text-nb-pop-blue hover:underline">{{ . }}</a>
        {{ end }}
      </p>
    </header>
    <div class="prose lg:prose-xl max-w-none mx-auto text-nb-light-text border-4 border-nb-light-border p-6 md:p-10 bg-nb-light-bg shadow-neo">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }}