<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
	
	{{ with (templates.Defer (dict "key" "global")) }}
		{{ partial "css.html" . }}
	{{ end }}

	<meta name="p:domain_verify" content="{{ .Site.Params.pinterest_domain_verify }}"/>

	{{ partial "google_analytics.html" . }}
	{{ partial "opengraph.html" . }}
	{{ partial "twitter_cards.html" . }}

	{{/* Any extra head elements can be added via this block */}}
	{{ block "head_extra" . }}{{ end }}
</head>
<body class="bg-nb-light-bg text-nb-light-text">
	{{/* Header section */}}
	{{ block "header" . }}
		{{ partial "header.html" . }}
	{{ end }}

	{{/* Main content section */}}
	<main id="content">
		{{ block "main" . }}{{ end }}
	</main>

	{{/* Footer section */}}
	{{ block "footer" . }}
		{{ partial "footer.html" . }}
	{{ end }}

	{{/* Any extra scripts can be added via this block */}}
	{{ block "scripts_end" . }}{{ end }}
</body>
</html>