<header class="bg-nb-pop-blue text-text-on-pop-bright py-6 border-b-4 border-nb-dark-border">
  <div class="container mx-auto px-6 flex justify-between items-center">
    <a href="{{ "/" | relURL }}" class="text-3xl font-bold hover:text-nb-pop-pink transition-colors">
      {{ .Site.Title }}
    </a>
    <nav>
      <a href="{{ "projects/" | relURL }}" class="text-lg hover:text-nb-pop-yellow px-2 py-2">Projects</a>
      <a href="{{ "blog/" | relURL }}" class="text-lg hover:text-nb-pop-yellow px-2 py-2">Blog</a>
      {{/* <a href="{{ "about/" | relURL }}" class="text-lg hover:text-nb-pop-yellow px-3 py-2">About</a> */}}
      {{/* <a href="{{ "contact/" | relURL }}" class="text-lg hover:text-nb-pop-yellow px-3 py-2">Contact</a> */}}
    </nav>
  </div>
</header>